<div class="">
  <!-- <button mat-button [routerLink]="['/conductor-crear']">+ Nuevo conductor</button> -->
  <button mat-raised-button color="primary" [routerLink]="['/conductor-crear']">+ Nuevo conductor</button>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">
    <!-- Columna nombres -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element" class="nombres-col"> {{element.nombres}} </td>
    </ng-container>

    <!-- Columna Apellidos -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <!-- Columna número de documento -->
    <ng-container matColumnDef="numeroDocumento">
      <th mat-header-cell *matHeaderCellDef> Número documento </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
    </ng-container>

    <!-- Columna Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/conductor-detalle/', row._id]"></tr>
  </table>
</div>