<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/conductor']">
    Conductores
  </a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{conductor.nombres}}&nbsp;{{conductor.apellidos}}</h2>
    </mat-card-title>
    <!-- <mat-card-subtitle>{{conductor.apellidos}}</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt><h3>Tipo identificación:</h3></dt>
      <dd>{{conductor.tipoDocumento}}</dd>
      <dt><h3>Número documento:</h3></dt>
      <dd>{{conductor.numeroDocumento}}</dd>
      <dt><h3>Estado:</h3></dt>
      <dd>{{conductor.estado}}</dd>
      <dt><h3>Dirección:</h3></dt>
      <dd>{{conductor.direccion}}</dd>
      <dt><h3>Teléfono:</h3></dt>
      <dd>{{conductor.telefono}}</dd>
      <dt><h3>Correo electrónico:</h3></dt>
      <dd>{{conductor.correoElectronico}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/conductor-editar', conductor._id]">
      Editar
    </a>
    <a mat-raised-button color="warn" (click)="eliminarConductor(conductor._id)">
      Eliminar
    </a>
  </mat-card-actions>
</mat-card>